{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h1 class="display-6 mb-3">Buy some shares!</h1>
    <form action="/buy" method="post">
        <input name="symbol" type="text" placeholder="Symbol" autofocus class="form-control mb-2 mx-auto w-auto">
        <input name="shares" type="number" min="1" placeholder="Shares" class="form-control mb-3 mx-auto w-auto">
        <button type="submit" class="btn btn-primary">Buy</button>
    </form>
{% endblock %}
