{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<form action="/pwchange" method="post">
    <input class="form-control mb-2 mx-auto w-auto" name="old" type="text" placeholder="Password">
    <input class="form-control mb-2 mx-auto w-auto" name="new" type="text" placeholder="New Password">
    <input class="form-control mb-3 mx-auto w-auto" name="confirmation" type="text" placeholder="Confirm new password">
    <button type="submit" class="btn btn-primary">Continue</button>
</form>
{% endblock %}
