{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}


{% block main %}
    <form action="/sell" method="post">
        <select name="symbol" class="form-select w-auto mx-auto mb-3">
            <option disabled selected>Symbol</option>
            {% for symbol in user_shares %}
            <option value="{{ symbol["symbol"] }}">{{ symbol["symbol"] }}</option>
            {% endfor %}
        </select>
        <input type="number" min="1" placeholder="Shares" name="shares" class="form-control w-auto mx-auto mb-3">
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
